<div ng-if="currentUser.isLoggedIn" xmlns="http://www.w3.org/1999/html">
    <button title="{{ tooltipText }}" class="btn" ng-class="[{'btn-primary': !isYachtInComparisonList, 'btn-success':isYachtInComparisonList}, btnClass]" ng-click="addToComparisonList()"><span class="fa fa-balance-scale"></span></button>
</div>
