<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="">Compare yacht models</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover text-nowrap table-bordered table-comparison">
                            <col width="10%">
                            <col ng-repeat="yacht in yachts" width="{{ 90 / yachts.length }}%">
                            <thead>
                            <tr>
                                <td></td>
                                <td class="text-center" ng-repeat="yacht in yachts">
                                    <div class="center-block img-block">
                                        <a href="" class="btn-remove" title="Remove yacht from comparison list" ng-click="removeFromComparison(yacht.slug)"><span class="glyphicon glyphicon-remove text-muted"></span></a>
                                        <a ui-sref="yachtDetail({yachtSlug: yacht.slug})">
                                            <img class="img-responsive center-block" ng-src="{{ yacht.card_img }}" >
                                        </a>
                                    </div>
                                    <h4 class="title"><a ui-sref="yachtDetail({yachtSlug: yacht.slug})">{{ yacht.title }}</a><br/><small>by {{ yacht.brand.title }}</small></h4>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Length overall</th>
                                <td class="text-center" ng-repeat="yacht in yachts">
                                    <ygb-spec-value uscs-value="yacht.length_over_all" uscs-measure="ft"></ygb-spec-value>
                                </td>
                            </tr>
                            <tr>
                                <th>Beam</th>
                                <td class="text-center" ng-repeat="yacht in yachts">
                                    <ygb-spec-value uscs-value="yacht.beam" uscs-measure="ft"></ygb-spec-value>
                                </td>
                            </tr>
                            <tr>
                                <th>Draft</th>
                                <td class="text-center" ng-repeat="yacht in yachts">
                                    <ygb-spec-value uscs-value="yacht.draft" uscs-measure="ft"></ygb-spec-value>
                                </td>
                            </tr>
                            <tr>
                                <th>Weight (dry)</th>
                                <td class="text-center" ng-repeat="yacht in yachts" ygb-value-or-na value="yacht.weight_dry" class-if-na="text-muted">
                                    <ygb-spec-value uscs-value="yacht.weight_dry" uscs-measure="lbs"></ygb-spec-value>
                                </td>
                            </tr>
                            <tr>
                                <th>Fuel tank</th>
                                <td class="text-center" ng-repeat="yacht in yachts">
                                    <ygb-spec-value amount="yacht.amount_of_fuel_tanks" uscs-value="yacht.fuel_tank" uscs-measure="gal"></ygb-spec-value>
                                </td>
                            </tr>
                            <tr>
                                <th>Water tank</th>
                                <td class="text-center" ng-repeat="yacht in yachts">
                                    <ygb-spec-value amount="yacht.amount_of_water_tanks" uscs-value="yacht.water_tank" uscs-measure="gal"></ygb-spec-value>
                                </td>
                            </tr>
                            <tr>
                                <th>Accommodation</th>
                                <td ng-repeat="yacht in yachts" class="text-center">
                                    <dl ng-repeat="accommodation in yacht.accommodation_set">
                                        <dt>Layout #{{ $index + 1 }}</dt>
                                        <dd>{{ accommodation.cabins }} cabins, {{ accommodation.berths }} berths, {{ accommodation.wc }} wc</dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <th>Engines</th>
                                <td ng-repeat="yacht in yachts" class="text-center">
                                    <dl ng-repeat="engine in yacht.engine_set">
                                        <dt>{{ engine.amount }} x {{ engine.title }}</dt>
                                        <dd>Power: {{ engine.amount }} x {{ engine.power }} h.p.</dd>
                                        <dd ng-if="engine.cruising_speed">Cruising speed: {{ engine.cruising_speed }} kn</dd>
                                        <dd ng-if="engine.max_speed">Max speed: {{ engine.max_speed }} kn</dd>
                                        <dd ng-if="engine.fuel_consumption">Fuel cons.: <ygb-spec-value uscs-value="engine.fuel_consumption" uscs-measure="gal/h"></ygb-spec-value></dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <th>Model webpage</th>
                                <td class="text-center" ng-repeat="yacht in yachts"><a target="_blank" href="{{ yacht.website }}">click here...</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>