<footer class="footer">
    <div class="container">
        <p class="text-center clear-margin-bottom">© {{ currentDate | date: 'yyyy' }} Yacht Guidebook. All rights reserved.</p>
        <p class="text-center mb-0"><a href="mailto:office@yachtguidebook.com"><span class="fa fa-envelope-o"></span> office@yachtguidebook.com</a></p>
    </div>
</footer>
