<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">
                <small>Opps! Error 404</small>
                <br/>Page is not found
            </h1>
        </div>
        <div class="col-md-6 col-md-offset-3 mt-30">
            <img class="img-responsive" ng-src="/static/images/404.jpg">
        </div>
    </div>
</div>
