<div class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center"><span class="small">Find your dream yacht</span><br>Yacht Guidebook</h1>
                    <p class="lead text-center">Yacht Guidebook is the place where you can find lots of modern yacht models, their specifications, video reviews, photo galleries and much more.<br/>Check it out now...</p>
                    <p class="text-center"><a class="btn btn-default" ui-sref="yachtSearch.yachtList">Catalog of yachts</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
