<div ng-controller="CommentListCtrl">
    <div ng-controller="AddNewCommentCtrl">
        <div class="row">
            <div class="col-md-4 col-xs-10">
                <h3 class="text-muted">Comments</h3>
            </div>
            <div class="col-md-8 col-xs-2">
                <button class="btn btn-sm btn-primary btn-comment-add pull-right round-xs" ng-click="addComment(currentUser.isLoggedIn)"><span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs">Add comment</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <uib-alert type="{{ alertShow['addComment'].type }}" dismiss-on-timeout="5000" close="closeAlert(alertShow['addComment'])" ng-if="alertShow['addComment'].state">{{ alertShow['addComment'].msg }}</uib-alert>
            </div>
        </div>
        <div class="row well well-sm" uib-collapse="formCollapsed">
            <div class="col-sm-offset-3 col-sm-8">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Comment text here..." ng-model="commentText"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="saveComment()">Submit</button>
                            <button class="btn btn-default" ng-click="reset()">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="well well-lg text-center text-muted" ng-hide="comments.length > 0">
        <p class="lead">No comments for now</p>
        <p>Your comment could be the first!</p>
    </div>
    <div class="row row-comment" ng-repeat="comment in comments">
        <div class="col-sm-2">
            <p class="mb-0 lead">{{ comment.user }}</p>
            <p class="small text-muted">{{ comment.date_create | date: 'mediumDate' }}</p>
        </div>
        <div class="col-sm-10">
            <blockquote>
                <p class="text-wrap">{{ comment.text }}</p>
                <ul class="list-inline small pull-right" ng-if="comment.user === currentUser.username">
                    <li ng-controller="DeleteCommentCtrl">
                        <a href="" ng-click="deleteComment(comment.id)">Delete</a>
                    </li>
                    <li>
                        <a href="" ng-click="editFormExpand[comment.id]=true">Edit</a>
                    </li>
                </ul>
            </blockquote>
        </div>
        <div ng-controller="EditCommentCtrl" ng-if="comment.user === currentUser.username">
            <div class="col-sm-offset-2 col-sm-10" >
                <uib-alert type="{{ alertShow[comment.id].type }}" dismiss-on-timeout="5000" close="closeAlert(alertShow[comment.id])" ng-if="alertShow[comment.id].state">{{ alertShow[comment.id].msg }}</uib-alert>
            </div>
            <div class="col-sm-offset-2 col-sm-10 well"  uib-collapse="!editFormExpand[comment.id]" >
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Comment text here..." ng-init="commentText[comment.id]=comment.text" ng-model="commentText[comment.id]"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="submitUpdateComment(comment.id)">Submit</button>
                            <button class="btn btn-default" ng-click="cancelUpdateComment(comment.id, comment.text)">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
