<div class="modal-header">
    <h5 class="modal-title">Confirm delete</h5>
</div>
<div class="modal-body">
    <p>Do you really want to delete your comment?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>