<div class="modal-header">
    <h5 class="modal-title">Please login</h5>
</div>
<div class="modal-body">
    <p>Only registered users can leave comments. Please <a ui-sref="login" ng-click="ok()">Login</a> or <a ui-sref="registration" ng-click="ok()">Sign up</a>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>