<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel yacht-detail">
                <div class="panel-body">
                    <div class="row pb-30 border-bottom">
                        <div class="col-md-5 col-lg-4">
                            <img alt="{{ yacht.title }}" class="img-responsive" ng-src="{{ yacht.card_img }}" >
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <h5 class="text-muted lead">{{ yacht.type }}</h5>
                            <h3 class="mb-0"><strong>{{ yacht.title }}</strong></h3>
                            <ul class="list-inline">
                                <li><h4 class="text-muted">by {{ yacht.brand.title }}</h4></li>
                                <li><a href="{{ yacht.brand.website }}" target="_blank">{{ yacht.brand.website }}</a></li>
                            </ul>
                            <div ui-view="yachtRating"></div>
                        </div>
                    </div>
                    <div class="row pb-30 pt-30" ng-show="yacht.photo_set.length > 0">
                        <div class="col-md-2">
                            <p class="lead">Photo</p>
                        </div>
                        <div ygb-photo-gallery class="col-md-10">
                            <div class="row yacht-gallery">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 gallery-item" ng-repeat="photo in yacht.photo_set">
                                    <a class="ygb-popup-img" href="{{ photo.img }}" photo-title="{{ yacht.title }}"><img alt="{{ yacht.title }}" class="img-responsive" ng-src="{{ photo.thumbnail }}" ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-30 pb-30" ng-show="yacht.video_set.length > 0">
                        <div class="col-md-2">
                            <p class="lead ">Video</p>
                        </div>
                        <div class=" col-md-10">
                            <div class="row yacht-gallery">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 gallery-item" ng-repeat="video in yacht.video_set">
                                    <a href="" class="video-link" ng-click="playVideo(video.code)">
                                        <img alt="Video of {{ yacht.title }}" class="img-responsive" ng-src="{{ trustAsResourceUrl('//img.youtube.com/vi/'+video.code+'/mqdefault.jpg') }}">
                                        <span class="fa fa-youtube-play text-muted"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-30 pb-30">
                        <div class="col-md-2">
                            <p class="lead ">Specification</p>
                        </div>
                        <div class="col-md-10 table-responsive">
                            <table class="table table-hover table-striped text-nowrap">
                                <tr>
                                    <th>Length overall</th>
                                    <td class="text-center"><ygb-spec-value uscs-value="yacht.length_over_all" uscs-measure="ft"></ygb-spec-value></td>
                                </tr>
                                <tr>
                                    <th>Beam</th>
                                    <td class="text-center"><ygb-spec-value uscs-value="yacht.beam" uscs-measure="ft"></ygb-spec-value></td>
                                </tr>
                                <tr>
                                    <th>Draft</th>
                                    <td class="text-center"><ygb-spec-value uscs-value="yacht.draft" uscs-measure="ft"></ygb-spec-value></td>
                                </tr>
                                <tr>
                                    <th>Weight (dry)</th>
                                    <td class="text-center" ygb-value-or-na value="yacht.weight_dry" class-if-na="text-muted"><ygb-spec-value uscs-value="yacht.weight_dry" uscs-measure="lbs"></ygb-spec-value></td>
                                </tr>
                                <tr>
                                    <th>Fuel tank</th>
                                    <td class="text-center"><ygb-spec-value amount="yacht.amount_of_fuel_tanks" uscs-value="yacht.fuel_tank" uscs-measure="gal"></ygb-spec-value></td>
                                </tr>
                                <tr>
                                    <th>Water tank</th>
                                    <td class="text-center"><ygb-spec-value amount="yacht.amount_of_water_tanks" uscs-value="yacht.water_tank" uscs-measure="gal"></ygb-spec-value></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="row pt-30 pb-30">
                        <div class="col-md-2">
                            <p class="lead">Accommodation</p>
                        </div>
                        <div ygb-photo-gallery class="col-md-10 table-responsive">
                            <table class="table table-hover table-striped text-nowrap">
                                <tr>
                                    <th></th>
                                    <th class="text-center">Cabins</th>
                                    <th class="text-center">Berths</th>
                                    <th class="text-center">Heads</th>
                                    <th class="text-center">Plan</th>
                                </tr>
                                <tr ng-repeat="accommodation in yacht.accommodation_set">
                                    <th>Layout #{{ $index + 1 }}</th>
                                    <td class="text-center">{{ accommodation.cabins }}</td>
                                    <td class="text-center">{{ accommodation.berths }}</td>
                                    <td class="text-center">{{ accommodation.wc }}</td>
                                    <td class="text-center" ygb-value-or-na value="accommodation.plan_img" class-if-na="text-muted">
                                        <a class="ygb-popup-img" title="Show layout plan" photo-title="Layout #{{ $index + 1 }}&nbsp;&nbsp;&nbsp;Cabins: {{ accommodation.cabins }}&nbsp;&nbsp;&nbsp;Heads: {{ accommodation.wc }}" href="{{ accommodation.plan_img }}">
                                            <span class="glyphicon glyphicon-picture show-plan-icon"></span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row pb-30 pt-30">
                        <div class="col-md-2">
                            <p class="lead">Engines</p>
                        </div>
                        <div class="col-md-10 table-responsive">
                            <table class="table table-hover table-striped text-nowrap">
                                <tr>
                                    <th></th>
                                    <th class="text-center">Power</th>
                                    <th class="text-center">Cruising speed</th>
                                    <th class="text-center">Max speed</th>
                                    <th class="text-center">Fuel consumption</th>
                                </tr>
                                <tr ng-repeat="engine in yacht.engine_set">
                                    <th>
                                        {{ engine.amount }} x {{ engine.title }}
                                    </th>
                                    <td class="text-center">
                                        {{ engine.amount }} x {{ engine.power }} h.p.
                                    </td>
                                    <td class="text-center" ygb-value-or-na value="engine.cruising_speed" class-if-na="text-muted">
                                        {{ engine.cruising_speed }} kn
                                    </td>
                                    <td class="text-center" ygb-value-or-na value="engine.max_speed" class-if-na="text-muted">
                                        {{ engine.max_speed }} kn
                                    </td>
                                    <td class="text-center" ygb-value-or-na value="engine.fuel_consumption" class-if-na="text-muted">
                                        <ygb-spec-value uscs-value="engine.fuel_consumption" uscs-measure="gal/h"></ygb-spec-value>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row pt-30 pb-30" ng-if="yacht.website || yacht.link_set.length > 0">
                        <div class="col-md-2">
                            <p class="lead">Helpful links</p>
                        </div>
                        <div class="col-md-10">
                            <table class="table table-hover table-striped text-nowrap table-overflow-hidden">
                                <tr ng-if="yacht.website">
                                    <th>Model webpage</th>
                                    <td><a target="_blank" href="{{ yacht.website }}"><span class="hidden-xs">{{ yacht.website }}</span><span class="visible-xs">click here...</span></a></td>
                                </tr>
                                <tr ng-repeat="link in yacht.link_set">
                                    <th>{{ link.title }}</th>
                                    <td><a target="_blank" href="{{ link.url }}"><span class="hidden-xs">{{ link.url }}</span><span class="visible-xs">click here...</span></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel yacht-detail">
                <div class="panel-body">
                    <div ui-view="comments"></div>
                </div>
            </div>
        </div>
    </div>
</div>