<div ng-controller="YachtRatingCtrl">
    <h4><span class="text-warning" ng-show="avgRating.avg_score"><span class="glyphicon glyphicon-star"></span> {{ avgRating.avg_score | number:1 }} <small>({{ avgRating.total_votes }} votes)</small></span>&nbsp;</h4>
    <uib-rating class="text-primary yacht-rating pull-left" ng-model="userRate.score" max="5" ng-click="userRateUpdated()" ng-show="currentUser.isLoggedIn"></uib-rating>
    <ygb-add-to-comparison-btn yacht-slug="yacht.slug" btn-class="btn-sm" class="add-to-comparelist pull-right"></ygb-add-to-comparison-btn>
</div>
