<div class="modal-header">
    <h5 class="modal-title">{{ yacht.title }}</h5>
</div>
<div class="modal-body">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" ng-src="{{ trustAsResourceUrl('//www.youtube.com/embed/'+videoCode+'?controls=2&autoplay=1') }}"></iframe>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>