html, body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.50;
    padding-top: 64px;
}

/*Helpers*/
/*-------------------------*/
.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.pt-30 {
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}

.border-bottom {
    border-bottom: 1px solid #eeeeee;
}

.border-top {
    border-top: 1px solid #eeeeee;
}


/*Content wrapper*/
/*----------------------*/
.page-wrapper {
    min-height: 100%;
    position: relative;
    background-color: #f5f5f5;
}

.content-wrapper {
    padding-top: 13px;
    padding-bottom: 54px;
    display: block;
}

/*Footer*/
/*----------------------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    background-color: #2e3537;
    color: #bbbbbb;
}

.footer > .container {
    padding-top: 10px;
    font-size: 12px;
}

.clear-margin-bottom {
    margin-bottom: 0 !important;
}

/*Home page*/
/*----------------------*/
.banner {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    color: #fff;
    margin-top: -23px;
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 40px;
    }
}

.banner-image {
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
    background-image: url("/static/images/banner.jpg");
    background-size: cover;
}

.banner:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    content: "";
}

.banner-caption {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 2;
}

.banner-caption h1 {
    color: #fff;
}

/*Floating Labels*/
/*--------------------------*/
.floating-labels.form-group {
    display: flex;
    height: 55px;
}

.floating-labels .control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.floating-labels.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.floating-labels .form-control {
    align-self: flex-end;
}

.floating-labels .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.floating-labels .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.floating-labels.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

/*Inputs style*/
.btn-long {
    min-width: 160px;
}

textarea.input-lg, textarea.form-control.input-lg, input.form-control.input-lg, input.input-lg[type="text"], input.input-lg[type="password"], input.input-lg[type="email"], input.input-lg[type="number"], .form-control.input-lg[type="text"], .form-control.input-lg[type="password"], .form-control.input-lg[type="email"], .form-control.input-lg[type="tel"], .form-control.input-lg[contenteditable] {
    font-size: 20px;
}

/*Header*/
nav .v-separator {
    border-left: 1px solid #0c84e4
}

@media (min-width: 768px) and (max-width: 835px) {
    nav .navbar-form .search-field {
        max-width: 104px;
    }
}

nav .nav-logo {
    margin-top: -15px;
}

/*Inline button*/
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-top: 1px;
    margin-left: 4px;
}

/*Sidebar*/
.sidebar {
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    padding: 20px;
    border-right: 1px solid #eee;
    background-color: #fff;
    overflow-x: hidden;
}

.sidebar .list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-weight: 500;
}

@media (max-width: 991px) {
    .sidebar {
        -webkit-transition: left 0.5s;
        transition: left 0.5s;
        width: 270px;
        left: -270px;
    }

    .sidebar.sidebar-expand {
        left: 0;
    }

}

.sidebar .list-group-collapse a:hover .glyphicon-remove {
    color: #ff9800;
}

.sidebar .list-group-collapse a:hover .glyphicon-trash {
    color: #e51c23;
}

.sidebar a.list-group-item .glyphicon {
    margin-right: 10px;
    padding: 2px 0;
}

.btn-sidebar-collapsed {
    position: fixed;
    top: 65px;
    z-index: 101;
    left: 0;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}

.btn-sidebar-collapsed.sidebar-expand {
    left: 270px;
}

.sidebar .list-group {
    margin-left: -20px;
    margin-right: -20px;
}

.sidebar .list-group .list-group-collapse {
    overflow: hidden;
}

.sidebar .list-group .list-group-collapse .well-sm {
    padding: 9px 15px;
}

/*Main content*/
.main {
    /*padding: 20px;*/
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

/*Panel heding (Order by)*/
.panel.panel-active-filters .panel-heading {
    padding: 5px 15px;
}

.panel.panel-active-filters .panel-heading .input-group-addon {
    padding-left: 0;
}

/*Yacht card*/

.yacht-card {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 46px;
}

.yacht-card .card-title .title a {
    color: #444;
}

.yacht-card .card-title .title a:hover {
    color: #0a6ebd;
}

@media (max-width: 1339px) {
    .yacht-card .card-title .title {
        font-size: 18px;
    }
}

@media (max-width: 1339px) {
    .yacht-card .specifications {
        font-size: 14px;
    }
}

.add-to-comparelist {
    margin-top: -8px;
}

.add-to-comparelist button {
    font-size: 24px;
    border-radius: 50%;
}

.yacht-card .specifications {
    font-weight: 300;
}

/*Table with Helpful links in yacht detail*/
.yacht-detail .table-overflow-hidden {
    width: 100%;
    table-layout: fixed;
}

.yacht-detail .table-overflow-hidden td,
.yacht-detail .table-overflow-hidden th {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .yacht-detail .table-overflow-hidden td {
        width: 70%;
    }
}


/*Yacht gallery*/
.yacht-detail .yacht-gallery {
    margin: -5px;
}

.yacht-detail .yacht-gallery .gallery-item {
    padding: 5px;
}


/*Yacht rating*/
.yacht-detail .yacht-rating {
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .yacht-detail .round-xs {
        border-radius: 50%;
    }
}

/*Comments*/
.yacht-detail .row-comment {
    border-bottom: 1px solid #f5f5f5;
    margin: 23px 0;
}

.yacht-detail .row-comment .text-wrap {
    white-space: pre-wrap;
    wrap-option: break-word;
    overflow-wrap: break-word;
}

.yacht-detail .btn-comment-add {
    margin-top: 28px;
}

/*Tooltip*/
.tooltip-inner {
    white-space: nowrap;
}

/*Compare table*/
table.table-comparison > tbody > tr > td {
    min-width: 300px;
}

table.table-comparison > tbody > tr > th {
    padding-right: 30px !important;
}

table.table-comparison .img-block {
    max-width: 300px;
    position: relative;
}

table.table-comparison .title a {
    color: #444;
}

table.table-comparison .title a:hover {
    color: #0a6ebd;
}

table.table-comparison .btn-remove {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}

table.table-comparison .btn-remove:hover .glyphicon {
    color: #e51c23;
}

/*Link on YouTube video*/
/*---------------------*/
a.video-link {
    position: relative;
    display: block;
}

a.video-link > span {
    position: absolute;
    font-size: 3em;
    top: calc(50% - 23px);
    left: calc(50% - 23px);
}

a.video-link:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    content: "";
}

a.video-link:hover > span {
    color: rgb(33, 150, 243);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/*Yacht plan*/
.show-plan-icon {
    font-size: 18px;
}