{% load staticfiles %}

{% load compress %}

<!DOCTYPE html>
<html ng-app="yachtGuidebook">
    <head ng-controller="HeadMetaCtrl">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        {% verbatim %}
        <title ng-bind="meta.title">Yacht Gouidebook</title>
        <meta ng-if="meta.description" name="description" content="{{ meta.description }}">
        {% endverbatim %}

        <link rel="icon" type="image/png" href="{% static 'images/logo-16x16.png' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{% static 'images/logo-32x32.png' %}" sizes="32x32">

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
        {% compress css %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% endcompress %}

    </head>
    <body>

        <div class="page-wrapper">
            <ygb-navbar></ygb-navbar>

            <ui-view class="content-wrapper" autoscroll="true"></ui-view>

            <ygb-footer></ygb-footer>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-resource.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script>

        {% compress js %}
        <script type="text/javascript" src="{% static 'angular_app/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/app.routes.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/app.config.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/app.run.js' %}"></script>

        <script type="text/javascript" src="{% static 'angular_app/user-account/userAccountCtrl.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/comparison/comparisonCtrl.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/yacht-search/yachtSearchCtrl.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/yacht-detail/yachtDetailCtrl.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/head-meta/headMetaCtrl.js' %}"></script>

        <script type="text/javascript" src="{% static 'angular_app/user-account/userAccountSrv.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/common/commonSrv.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/comparison/comparisonSrv.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/yacht-search/yachtSearchSrv.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/yacht-detail/yachtDetailSrv.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/head-meta/headMetaSrv.js' %}"></script>

        <script type="text/javascript" src="{% static 'angular_app/navbar/navbarDrct.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/footer/footerDrct.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/common/commonDrct.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/yacht-search/yachtSearchDrct.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/yacht-detail/yachtDetailDrct.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular_app/comparison/comparisonDrct.js' %}"></script>

        <script type="text/javascript" src="{% static 'angular_app/common/commonFilters.js' %}"></script>
        {% endcompress %}
    </body>
</html>