<div ng-controller="ActiveFiltersCtrl">
    <div ng-hide="isFilterApplied('search', 'brand', 'type', 'cabins', 'length', 'draft')">
        <span class="text-muted">Filters were not applied</span>
    </div>
    <div ng-show="isFilterApplied('search', 'brand', 'type', 'cabins', 'length', 'draft')">
        <ul class="list-inline" ng-show="isFilterApplied('search')">
            <li>Your search request:</li>
            <li><a href="" ng-click="removeSearching()">{{ searchRequest.value }} <span class="glyphicon glyphicon-remove small text-muted"></span></a></li>
        </ul>
        <ul class="list-inline" ng-show="isFilterApplied('brand')">
            <li>Brands:</li>
            <li ng-repeat="brand in filters.brand | filter: {state:true}"><a href="" ng-click="brand.state = false; removeFilter('brand', brand.slug)">{{ brand.title }} <span class="glyphicon glyphicon-remove small text-muted"></span></a></li>
        </ul>
        <ul class="list-inline" ng-show="isFilterApplied('type')">
            <li>Types:</li>
            <li ng-repeat="type in filters.type | filter: {state:true}"><a href="" ng-click="type.state = false; removeFilter('type', type.slug)">{{ type.title }} <span class="glyphicon glyphicon-remove small text-muted"></span></a></li>
        </ul>
        <ul class="list-inline" ng-show="isFilterApplied('cabins')">
            <li>Cabins:</li>
            <li ng-repeat="cabins in filters.cabins | filter: {state:true}"><a href="" ng-click="cabins.state = false; removeFilter('cabins', cabins.slug)">{{ cabins.title }} <span class="glyphicon glyphicon-remove small text-muted" ></span></a></li>
        </ul>
        <ul class="list-inline" ng-show="isFilterApplied('length')">
            <li>Length, ft:</li>
            <li ng-repeat="length in filters.length | filter: {state:true}"><a href="" ng-click="length.state = false; removeFilter('length', length.slug)">{{ length.title }} <span class="glyphicon glyphicon-remove small text-muted"></span></a></li>
        </ul>
        <ul class="list-inline" ng-show="isFilterApplied('draft')">
            <li>Draft, ft:</li>
            <li ng-repeat="draft in filters.draft | filter: {state:true}"><a href="" ng-click="draft.state = false; removeFilter('draft', draft.slug)">{{ draft.title }} <span class="glyphicon glyphicon-remove small text-muted"></span></a></li>
        </ul>
        <a ng-click="filtersReset()" class="btn btn-sm btn-warning">Reset all</a>
    </div>
</div>
