<div>
    <ygb-filter-list-group is-collapsed="isCollapsed.brands" filter-list="filters.brand" filter-name="brand" group-title="Brand"></ygb-filter-list-group>
    <ygb-filter-list-group is-collapsed="isCollapsed.types" filter-list="filters.type" filter-name="type" group-title="Yacht type"></ygb-filter-list-group>
    <ygb-filter-list-group is-collapsed="isCollapsed.cabins" filter-list="filters.cabins" filter-name="cabins" group-title="Cabins"></ygb-filter-list-group>
    <ygb-filter-list-group is-collapsed="isCollapsed.length" filter-list="filters.length" filter-name="length" group-title="Length,&nbsp;&nbsp;ft"></ygb-filter-list-group>
    <ygb-filter-list-group is-collapsed="isCollapsed.draft" filter-list="filters.draft" filter-name="draft" group-title="Draft,&nbsp;&nbsp;ft"></ygb-filter-list-group>
</div>
