<div class="mb-15">
    <div class="mb-0">
        <a class="list-group-item" href="" ng-click="isCollapsed = !isCollapsed">{{ groupTitle }}
            <span class="glyphicon glyphicon-triangle-right pull-left text-muted" ng-show="isCollapsed"></span>
            <span class="glyphicon glyphicon-triangle-bottom pull-left text-muted" ng-show="!isCollapsed"></span>
        </a>
    </div>
    <div class="list-group-collapse" uib-collapse="isCollapsed" >
        <div class="well well-sm mb-0">
            <div class="checkbox" ng-repeat="item in filterList">
                <label for="{{filterName+item.slug}}">
                    <input id="{{filterName+item.slug}}" type="checkbox" ng-change="filterStateChanged(filterName, item.slug, item.state)" ng-model="item.state">
                    {{ item.title }}
                </label>
            </div>
        </div>
    </div>
</div>
