<div ng-controller="OrderByCtrl">
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <label for="order_by" class="control-label input-group-addon"><strong>Order by:</strong></label>
                <select id="order_by" class="form-control" ng-model="ordering.value" ng-change="applyOrder()">
                    <option value="">Model name</option>
                    <option ng-repeat="option in ordering.options" value="{{ option.slug }}">{{ option.title }}</option>
                </select>
            </div>
        </div>
    </form>
</div>
