<div ng-controller="UserFiltersCtrl" ng-show="currentUser.isLoggedIn" >
    <p class="mb-0" ng-show="userFilters.length > 0">
        <a class="list-group-item" href="" ng-click="isCollapsed.userFilters = !isCollapsed.userFilters">My filters
            <span class="glyphicon glyphicon-triangle-right pull-left text-muted" ng-show="isCollapsed.userFilters"></span>
            <span class="glyphicon glyphicon-triangle-bottom pull-left text-muted" ng-show="!isCollapsed.userFilters"></span>
        </a>
    </p>
    <div class="list-group-collapse" uib-collapse="isCollapsed.userFilters">
        <div class="well well-sm mb-0">
            <ul class="list-unstyled mb-15" ng-show="userFilters.length > 0">
                <li ng-repeat="filter in userFilters" class="checkbox">
                    <a href="" ng-click="applyUserFilters($index)" class=""><span class="glyphicon glyphicon-tag text-muted" ></span> {{ filter.title }}</a>
                    <a href="" class="pull-right" title="Delete filter?" tooltip-placement="left" ng-click="deleteUserFilters($index)"><span class="glyphicon glyphicon-trash text-muted"></span></a>
                </li>
            </ul>
            <a href="" class="btn btn-primary btn-xs center-block mb-15 mt-15" ng-class="{disabled: !isFilterApplied('brand', 'type', 'cabins', 'length', 'draft')}" ng-click="isCollapsed.saveFilter = !isCollapsed.saveFilter">Save filters <span class="caret"></span> </a>
            <form class="form-inline"  ng-submit="saveUserFilter()" uib-collapse="isCollapsed.saveFilter || !isFilterApplied('brand', 'type', 'cabins', 'length', 'draft')" ng-show="currentUser.isLoggedIn">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" maxlength="16" class="form-control" placeholder="Filters list name" ng-model="userFiltersTitle">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" ng-click="isCollapsed.saveFilter = !isCollapsed.saveFilter"><span class="glyphicon glyphicon-save"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
