<div>
    <div class="row" ng-hide="yachts.length > 0">
        <div class="col-xs-12">
            <p class="text-muted text-center lead mt-30">Yachts not found</p>
        </div>
    </div>
    <div class="row" ng-show="yachts.length > 0">
        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="yacht in yachts">
            <div class=" yacht-card">
                <div>
                    <a ui-sref="yachtDetail({yachtSlug: yacht.slug})">
                        <img class="img-responsive" ng-src="{{ yacht.card_img }}" >
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="title"><a ui-sref="yachtDetail({yachtSlug: yacht.slug})">{{ yacht.title }}</a><br/><small>by {{ yacht.brand }}</small></h4>
                    </div>
                    <p class="pull-left">{{ yacht.type }}</p>
                    <ygb-add-to-comparison-btn yacht-slug="yacht.slug" btn-class="btn-xs" class="pull-right add-to-comparelist"></ygb-add-to-comparison-btn>
                    <div class="specifications">
                        <table class="table table-condensed">
                            <tr>
                                <th>Cabins</th>
                                <th>Length</th>
                                <th>Draft</th>
                            </tr>
                            <tr>
                                <td><span ng-repeat="cabins in yacht.cabins track by $index">{{ cabins }}<span ng-if="!$last"> | </span></span></td>
                                <td><ygb-spec-value uscs-value="yacht.length_over_all" uscs-measure="ft"></ygb-spec-value></td>
                                <td><ygb-spec-value uscs-value="yacht.draft" uscs-measure="ft"></ygb-spec-value></td>
                            </tr>
                        </table>
                        <!--
                        <div class="row">
                            <div class="col-xs-5">
                                <ul class="list-unstyled">
                                    <li>{{ yacht.type }}</li>
                                    <li>Cabins: <span ng-repeat="item in yacht.accommodation_set">{{ item.cabins }}<span ng-if="!$last">/</span></span>/3</li>
                                </ul>
                            </div>
                            <div class="col-xs-7">
                                <ul class="list-unstyled">
                                    <li>Length: <ygb-spec-value uscs-value="yacht.length_over_all" uscs-measure="ft"></ygb-spec-value></li>
                                    <li>Draft: <ygb-spec-value uscs-value="yacht.draft" uscs-measure="ft"></ygb-spec-value></li>
                                </ul>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <uib-pagination class="hidden-xs text-center" total-items="count" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" force-ellipses="true"  max-size="7"></uib-pagination>
    </div>
    <uib-pager class="hidden-sm hidden-md hidden-lg" total-items="count" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize"></uib-pager>
</div>
