<div class="container-fluid" ng-controller="YachtSearchCtrl">
    <div class="row">
        <button class="btn btn-primary btn-lg btn-sidebar-collapsed visible-xs visible-sm" ng-class="{'sidebar-expand': !isSidebarCollapsed}" ng-click="isSidebarCollapsed = !isSidebarCollapsed">
            <span ng-show="isSidebarCollapsed" class="glyphicon glyphicon-filter"></span>
            <span ng-hide="isSidebarCollapsed" class="glyphicon glyphicon-remove"></span>
        </button>
        <div class="col-lg-2 col-md-3 col-sm-3 sidebar" ng-class="{'sidebar-expand': !isSidebarCollapsed}" >
            <div class="list-group">
                <div ui-view="filterList"></div>
                <hr/>
                <div ui-view="userFilters"></div>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-2 col-md-9 col-md-offset-3 col-sm-12 col-xs-12 main">
            <div class="panel panel-default panel-active-filters">
                <div class="panel-heading" ui-view="orderBy"></div>
                <div class="panel-body" ui-view="activeFilters"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
