<nav class="navbar navbar-inverse navbar-fixed-top" ng-init="isHeaderCollapsed = true">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isHeaderCollapsed = !isHeaderCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="isHeaderCollapsed = true" ui-sref="home"><img ng-src="static/images/logo-50x50.png" class="pull-left nav-logo">Yacht Guidebook</a>
        </div>
        <div class="navbar-collapse collapse in" uib-collapse="isHeaderCollapsed">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ng-click="isHeaderCollapsed = true" ui-sref="yachtSearch.yachtList(lastParams.yachtSearch.params)"><span class="glyphicon glyphicon-th"></span> Catalog</a></li>
                    <li ui-sref-active="active" ng-show="currentUser.isLoggedIn && total.count > 0"><a ng-click="isHeaderCollapsed = true" ui-sref="comparison"><span class="fa fa-balance-scale"></span> Compare <span class="badge">{{ total.count }}</span></a></li>
                </ul>
                <form class="navbar-form navbar-left v-separator" ng-submit="applySearch()">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control search-field" placeholder="Search yacht..." type="text" ng-model="searchText">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="isHeaderCollapsed = true"> <span class="glyphicon glyphicon-search"></span> </button>
                            </span>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav v-separator" ng-show="currentUser.isLoggedIn">
                    <li ui-sref-active="active" class="dropdown" uib-dropdown>
                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-user"></span> <span class="hidden-sm">{{ currentUser.username }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="isHeaderCollapsed = true" ui-sref="profile"><span class="glyphicon glyphicon-pencil"></span> Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" ng-click="userLogout();isHeaderCollapsed = true"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav v-separator" ng-hide="currentUser.isLoggedIn">
                    <li ui-sref-active="active"><a ng-click="isHeaderCollapsed = true" ui-sref="registration"><span class="glyphicon glyphicon-plus"></span> Sign up</a></li>
                    <li ui-sref-active="active"><a ng-click="isHeaderCollapsed = true" ui-sref="login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
