<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel" ng-controller="UserLoginCtrl">
                <div class="panel-body">
                    <h4>Login your account</h4>
                    <form name="loginForm" ng-submit="userLogin()" novalidate>
                        <fieldset>
                            <div class="floating-labels form-group" ygb-floating-labels ng-class="{'has-error': fieldStatus.username.error}">
                                <label for="username" class="control-label">Username</label>
                                <input name="username" class="form-control input-lg" type="text" ng-model="username" required>
                            </div>
                            <div class="floating-labels form-group" ygb-floating-labels ng-class="{'has-error': fieldStatus.password.error}">
                                <label for="password" class="control-label">Password</label>
                                <input name="password" class="form-control input-lg" type="password" ng-model="password" required>
                            </div>
                            <uib-alert ng-repeat="alert in alerts" ng-show="alert.show" type="{{alert.type}}" close="alert.show=!alert.show">{{alert.msg}}</uib-alert>
                            <input class="btn btn-lg btn-long btn-primary center-block mt-30 mb-30" type="submit" value="Login">
                            <div class="text-center">
                                <p>or <a class="" ui-sref="registration">Sign up</a> if you don't have an account yet</p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
