<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <h4>My profile</h4>
                    <form name="userProfileForm" ng-submit="updateProfile()" novalidate>
                        <fieldset>
                            <div class="floating-labels form-group has-success focused" uib-tooltip="Username cannot be changed" tooltip-placement="top">
                                <label for="username" class="control-label">Username</label>
                                <input name="username" class="form-control input-lg" ng-model="userProfile.username" type="text" disabled>
                            </div>
                            <div class="floating-labels form-group focused" ygb-floating-labels ng-class="{'has-error': fieldStatus.email.error}">
                                <label for="email" class="control-label">Email</label>
                                <input name="email" class="form-control input-lg" ng-model="userProfile.email" type="text">
                            </div>
                            <div class="floating-labels form-group" ygb-floating-labels ng-class="{'has-error': fieldStatus.password.error}">
                                <label for="password" class="control-label">New password</label>
                                <input name="password" class="form-control input-lg" ng-model="userProfile.password" type="password">
                            </div>
                            <uib-alert ng-repeat="alert in alerts" ng-show="alert.show" type="{{alert.type}}" close="alert.show=!alert.show">{{alert.msg}}</uib-alert>
                            <input class="btn btn-lg btn-long btn-primary center-block mt-30" type="submit" value="Update profile">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
