<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel" ng-controller="RegistrationCtrl">
                <div class="panel-body" ng-hide="registrationSuccess">
                    <h4>Create your account</h4>
                    <form name="registrationForm" ng-submit="registration()" novalidate>
                        <fieldset>
                            <div class="floating-labels form-group" ygb-floating-labels ng-class="{'has-error': fieldStatus.username.error}">
                                <label for="username" class="control-label">Username</label>
                                <input name="username" class="form-control input-lg" ng-model="username" type="text">
                            </div>
                            <div class="floating-labels form-group" ygb-floating-labels ng-class="{'has-error': fieldStatus.email.error}">
                                <label for="email" class="control-label">Email</label>
                                <input name="email" class="form-control input-lg" ng-model="email" type="text" >
                            </div>
                            <div class="floating-labels form-group" ygb-floating-labels ng-class="{'has-error': fieldStatus.password.error}">
                                <label for="password" class="control-label">Password</label>
                                <input name="password" class="form-control input-lg" ng-model="password" type="password">
                            </div>
                            <uib-alert ng-repeat="alert in alerts" ng-show="alert.show" type="{{alert.type}}" close="alert.show=!alert.show">{{alert.msg}}</uib-alert>
                            <input class="btn btn-lg btn-long btn-primary center-block mt-30" type="submit" value="Sign up">
                        </fieldset>
                    </form>
                </div>
                <div class="panel-body" ng-show="registrationSuccess">
                    <h4 class="mb-30">Thank you, {{ username }}!</h4>
                    <p>Your account was successfully created.</p>
                    <p>Now you are logged in.</p>
                    <div class="text-center">
                        <a ui-sref="yachtSearch.yachtList" class="btn btn-lg btn-long btn-primary  mt-30">Catalog of yachts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
